[submodule "SqueakJS"]
	path = SqueakJS
	url = https://github.com/codefrau/SqueakJS.git
[submodule "caffeine"]
	path = caffeine
	url = https://github.com/ccrraaiigg/caffeine.git
[submodule "pages/microverse-builder"]
	path = pages/microverse-builder
	url = git@github.com:RalfBarkow/microverse-builder.git
