[submodule "SqueakJS"]
	path = SqueakJS
	url = git@github.com:RalfBarkow/SqueakJS.git
[submodule "caffeine"]
	path = caffeine
	url = https://github.com/ccrraaiigg/caffeine.git
[submodule "Dynaverse/Snap"]
	path = Dynaverse/Snap
	url = https://github.com/neolay/Snap.git
[submodule "Dynaverse/dynaverse"]
	path = Dynaverse/dynaverse
	url = https://github.com/neolay/dynaverse.git
[submodule "Dynaverse/microverse"]
	path = Dynaverse/microverse
	url = https://github.com/neolay/microverse.git
[submodule "pages/elix-plain-example"]
	path = pages/elix-plain-example
	url = https://github.com/elix/plain-example.git
